.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradle.properties
observablescrollers/.coveralls.yml
ObservableScrollers.iml
observablescrollers/observablescrollers.iml
observablescrollers/proguard-rules.pro
app/proguard-rules.pro
app/app.iml